body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
    font-family: 'Open Sans', sans-serif;
}

#content {
    width: 70%;
    background-color: white;
    padding: 20px;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav a {
    color: navy;
    text-decoration: none;
    border: 1px solid black;
    padding: 1px 5px;
    font-size: 1.2em;
}

fieldset {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 20px;
    border: none;
}

fieldset * {
    margin: 5px;
}

fieldset input {
    padding: 5px;
}

input[type=submit], .logAscent {
    min-width: 100px;
    align-self: flex-end;
    cursor: pointer;
}

.delete {
    background-color: red;
    color: white;
    cursor: pointer;
}

.delete:hover {
    background-color: black;
    color: red;
    cursor: pointer;
}

.venue {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

.user {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

.route-container {
    display: flex;
    flex-direction: row;
}

.route-info, .route-social {
    padding: 2em
}

.routes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.route-details {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    text-align: center;
    width: 250px;
    height: 300px;
}

.header-image {
    max-width: 50%;
}

.error, .admin {
    color: red;
    font-weight: bolder;
}

