{% extends 'base.html' %}
{% block content %}

<h1>Sign Up</h1>

<form action="/signup" method="POST">
    {{ form.csrf_token }}
    <fieldset>
        {{ form.username.label }}
        {{ form.username }}
        <ul>
        {% for error in form.username.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>

        {{ form.password.label }}
        {{ form.password }}
        <ul>
        {% for error in form.password.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>

        {{ form.email.label }}
        {{ form.email }}
        <ul>
        {% for error in form.email.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>

        {{ form.first_name.label }}
        {{ form.first_name }}
        <ul>
        {% for error in form.first_name.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>

        {{ form.last_name.label }}
        {{ form.last_name }}
        <ul>
        {% for error in form.last_name.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>

        {{ form.address.label }}
        {{ form.address }}
        <ul>
        {% for error in form.address.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>

        {{ form.climber_styles.label }}
        {{ form.climber_styles }}
        <ul>
        {% for error in form.climber_styles.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>

        {{ form.has_gear.label }}
        {{ form.has_gear }}
        <ul>
        {% for error in form.has_gear.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>
        {{ form.submit }}
    </fieldset>
</form>

{% endblock %}